.container {
  min-width: 1250px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.book-list-item {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  width: 550px;
  padding: 10px;
  margin-bottom: 10px;
  height: 100px;
}
.heading-right {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.addbtn {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 2px;
}

.book-list {
  list-style: none;
  text-align: center;
}

.book-title {
  font-size: 25px;
  text-transform: uppercase;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-year {
  color: gray;
}
.book-author {
  color: blue;
  font-size: 12px;
}
.book-heading {
  text-align: center;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: gray; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.searchbar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;

  margin-top: 30px;
  align-items: center;
  margin-bottom: 10px;
}
.edit-modal {
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.edit-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .responsive-table {
    overflow-x: auto; 
  }
  .responsive-table table {
    width: 100%; 
  }
}

.custom-table-sort-label .MuiTableSortLabel-icon {
  color: white; 
}
.custom-select:focus {
  border-color: black;
}

.custom-icon {
  color: black; 
}
